body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D5E1EF;
  font-family: "Outfit", sans-serif;
  font-size:15px;
}


.tarjeta {
  width: 310px;
  height: 480px; 
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  overflow: hidden; 
}

.tarjeta img {
  width: 90%;
  margin-top:15px;
  border-radius: 10px;
  height: 60%; 
  object-fit: cover; 
}

.tarjeta h1 {
  height: 15%;
  font-size: 20px;
  margin: 0;
  padding: 10px 15px 0 15px;
  width:85%;
  
 position: relative;
  top: 10px;
  font-weight: 600;
  
}

.tarjeta p {
  display:flex;
  align-items: top;
  justify-content: center;
  height: 16%;
  width: 80%;
  font-size: 14px;
  color: hsl(216, 15%, 48%);
  padding: 0 10px 0 10px;
  margin: 0;
}
